:root {
  --common-spacing: 10px;
  --wide-spacing: 20px;

  --theme-black-color: #394955;
  --theme-shade-color: #9caebc;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 20px;
}

label.vertical {
  display: flex;
  flex-direction: column;
  margin: auto 0;

  & > span {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--theme-black-color);
  }
}

input,
select {
  border-width: 0 0 1px 0;
  border-color: var(--theme-shade-color);
  outline: none;
  font-size: 0.9rem;
  padding: 10px 0;
}
