:root {
  --snippeter-setting-padding: 20px;
  --snippeter-setting-board-radius: 4px;
  --snippeter-setting-bg-color: #fff;
  --snippeter-setting-title-font-weight: 500;
  --snippeter-setting-title-color: var(--snippeter-theme-black-color);
  --snippeter-setting-close-icon-button-color: var(
    --snippeter-theme-black-color
  );
  --snippeter-setting-close-icon-button-size: 20px;
  --snippeter-setting-subtitle-color: var(--snippeter-theme-black-color);
  --snippeter-setting-list-item-border-width: 0 0 1px 0;
  --snippeter-setting-list-item-border-style: solid;
  --snippeter-setting-list-item-color: var(--snippeter-theme-shade-color);
  --snippeter-setting-list-item-icon-button-color: var(
    --snippeter-theme-shade-color
  );
  --snippeter-setting-list-item-icon-button-size: 20px;
  --snippeter-setting-no-snippet-title-color: var(
    --snippeter-theme-black-color
  );
  --snippeter-setting-no-snippet-message-color: var(
    --snippeter-theme-black-color
  );
}

#snippeter-setting {
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;

  &.visible {
    opacity: 1;
    transition: opacity 0.3s ease-out 0s;
  }

  & #modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
  }

  & #setting {
    padding: var(--snippeter-setting-padding);
    border-radius: var(--snippeter-setting-board-radius);
    box-shadow: var(--snippeter-setting-box-shadow);
    background-color: var(--snippeter-setting-bg-color);
    position: fixed;
    min-width: 60%;
    max-width: 80%;
    max-height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    & .main-header {
      display: flex;
      border-bottom: 1px solid var(--snippeter-theme-shade-color);
    }

    & .title {
      margin: 0;
      padding: 5px 0;
      flex: 1;
      font-weight: var(--snippeter-setting-title-font-weight);
      color: var(--snippeter-setting-title-color);
    }

    & #close-button {
      background-color: transparent;
      border: none;
      float: right;

      & > svg {
        color: var(--snippeter-setting-close-icon-button-color);
        font-size: var(--snippeter-setting-close-icon-button-size);
      }
    }

    & .subtitle {
      margin: 0;
      padding: 5px 0;
      font-size: smaller;
      font-weight: var(--snippeter-setting-title-font-weight);
      color: var(--snippeter-setting-subtitle-color);
    }

    & #my-snippet-list {
      margin: 0;
      padding: 0;

      & > .my-snippet-list-item {
        display: grid;
        grid-template-columns: 1fr auto auto;
        margin: 5px 0;
        padding: 5px 0;
        border-width: var(--snippeter-setting-list-item-border-width);
        border-style: var(--snippeter-setting-list-item-border-style);
        border-color: var(--snippeter-setting-list-item-color);

        & .button {
          margin: auto;
          border: none;
          background-color: transparent;

          & > svg {
            color: var(--snippeter-setting-list-item-icon-button-color);
            font-size: var(--snippeter-setting-list-item-icon-button-size);
          }
        }
      }
    }

    & #no-snippet-message {
      padding: 40px 10px;
      display: flex;
      flex-direction: column;
      border: 1px solid #888;
      border-left: none;
      border-right: none;

      & > strong {
        margin-bottom: 5px;
        color: var(--snippeter-setting-no-snippet-title-color);
      }

      & > span {
        margin-left: 10px;
        color: var(--snippeter-setting-no-snippet-message-color);
      }
    }

    & #add-snippet {
      margin-top: 20px;
    }
  }
}
