:root {
  --snippeter-border: 1px solid transparent;
  --snippeter-border-radius: 4px;
  --snippeter-padding: 10px;
  --snippeter-box-shadow: 2px 2px 3px var(--snippeter-theme-shade-color);
  --snippeter-bg-color: var(--snippeter-primary-color);
  --snippeter-header-icon-button-color: var(--snippeter-theme-shade-color);
  --snippeter-header-icon-button-size: 20px;
}

.snippeter {
  box-sizing: border-box;
  border: var(--snippeter-border);
  border-radius: var(--snippeter-border-radius);
  padding: var(--snippeter-padding);
  background-color: var(--snippeter-bg-color);
  display: flex;
  flex-direction: column;
  flex: 1;

  & > .header {
    display: grid;
    justify-content: end;

    & > button {
      display: grid;
      border: none;
      background-color: transparent;
      outline: none;
    }

    & > button > svg {
      color: var(--snippeter-header-icon-button-color);
      font-size: var(--snippeter-header-icon-button-size);
    }
  }
}
