@import './style.scss';

#snippeter-snippet-context {
  background-color: var(
    --snippeter-context-bg-color,
    var(--snippeter-theme-primary-color)
  );
  border-width: var(--snippeter-context-border-width, 1px);
  border-style: var(--snippeter-context-border-style, solid);
  border-color: var(
    --snippeter-context-border-color,
    var(--snippeter-theme-black-color)
  );
  box-shadow: var(--snippeter-context-box-shadow, $snippeter-box-shadow);
  border-radius: var(
    --snippeter-context-border-radius,
    $snippeter-border-radius
  );
  opacity: 0;
  transition: opacity 0.1s ease-out 0s;

  &.visible {
    opacity: 1;
    transition: opacity 0.1s ease-out 0s;
  }

  input {
    outline: none;
    border: none;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      padding: 5px;
      outline: none;
      border-width: var(--snippeter-context-item-border-width, 1px 0 0 0);
      border-style: var(--snippeter-context-item-border-style, dashed);
      border-color: var(
        --snippeter-context-item-border-color,
        var(--snippeter-theme-shade-color)
      );

      &.focus,
      &:hover {
        background-color: var(
          --snippeter-context-bg-color-active,
          var(--snippeter-theme-white-color)
        );
      }
    }

    li:last-child {
      border: none;
    }
  }
}
