:root {
  --snippeter-controller-icon-button-color: var(--snippeter-theme-shade-color);
  --snippeter-controller-icon-button-size: 20px;
  --snippeter-controller-input-border: 1px solid transparent;
  --snippeter-controller-input-border-radius: 4px;
  --snippeter-controller-input-color: var(--snippeter-theme-shade-color);
}

.snippeter-whiteboard-option-controller {
  display: flex;
  border-bottom: none;
  padding: 5px 0;

  & .option {
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    border-left: 1px solid var(--snippeter-theme-shade-color);
    gap: 5px;

    &:first-child {
      border-left: none;

      & > svg {
        margin: auto 0;
      }
    }

    & > svg {
      color: var(--snippeter-controller-icon-button-color);
      font-size: var(--snippeter-controller-icon-button-size);
      margin: auto auto auto 5px;
    }
  }

  & input {
    border: none;
    outline: none;
    border: var(--snippeter-controller-input-border);
    border-radius: var(--snippeter-controller-input-border-radius);
    width: 40px;
    margin-right: 5px;
    color: var(--snippeter-controller-input-color);
    text-align: center;
  }
}
