@import './style.scss';

.snippeter-whiteboard {
  & .whiteboard {
    padding: var(--snippeter-white-board-padding, 10px);
    background-color: var(--snippeter-white-board-bg-color, #fff);
    border-radius: var(--snippeter-border-radius, $snippeter-border-radius);
    border: var(
      --snippeter-white-board-border,
      1px solid var(--snippeter-theme-shade-color)
    );
    outline: none;
    height: var(--snippeter-white-board-height, 200px);
    overflow: auto;

    & * {
      outline: none;
    }

    & > p[snippeter-paragraph] {
      margin: 0;
      border: var(--snippeter-paragraph-border, 1px solid transparent);

      & > span[snippeter-phrase] {
        border: var(--snippeter-phrase-border, 1px solid transparent);
        display: inline-block;
        min-width: 1px;
      }

      & [snippet] {
        border: var(--snippeter-border, 1px solid transparent);
        display: inline-block;
      }
    }
  }
}
