:root {
  --snippeter-whiteboard-padding: 10px;
  --snippeter-whiteboard-bg-color: #fff;
  --snippeter-border-radius: 4px;
  --snippeter-whiteboard-border: 1px solid var(--snippeter-theme-shade-color);
  --snippeter-paragraph-border: 1px solid transparent;
  --snippeter-phrase-border: 1px solid transparent;
  --snippeter-border: 1px solid transparent;
}

.snippeter-whiteboard {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .whiteboard {
    flex: 1;
    padding: var(--snippeter-whiteboard-padding);
    background-color: var(--snippeter-whiteboard-bg-color);
    border-radius: var(--snippeter-border-radius);
    border: var(--snippeter-whiteboard-border);
    outline: none;
    overflow: auto;

    & * {
      outline: none;
    }

    & > p[snippeter-paragraph] {
      margin: 0;
      border: var(--snippeter-paragraph-border);

      & > span[snippeter-phrase] {
        border: var(--snippeter-phrase-border);
        display: inline-block;
        min-width: 1px;
      }

      & [snippet] {
        border: var(--snippeter-border);
        display: inline-block;
      }
    }
  }
}

.breadcrumb {
  & .list {
    gap: 0;
    padding: 0 10px;
  }

  & li {
    display: flex;
    color: var(--snippeter-theme-shade-color);

    & .list-item {
      margin: auto 0;
    }

    & svg {
      margin: auto 0;
      font-size: 20px;
    }
  }
}
