#white-board {
  background-color: var(--wysiwyg-bg-color, #fff);
  padding: var(--wysiwyg-padding, 10px);
  border: var(--wysiwyg-border, 1px solid black);
  border-radius: var(--wysiwyg-border-radius, 4px);
  outline: var(--wysiwyg-outline, none);
  height: inherit;
  overflow: auto;
}
