@import './common-style.scss';

#white-board {
  background-color: var(--wysiwyg-bg-color, #fff);
  padding: var(--wysiwyg-padding, $common-spacing);
  border: var(--wysiwyg-border, 1px solid black);
  border-radius: var(--wysiwyg-border-radius, $common-border-radius);
  outline: var(--wysiwyg-outline, none);
  height: inherit;
  overflow: auto;

  .edit-row {
    padding: var(--wysiwyg-edit-row-padding, $narrow-spacing 0px);
  }

  #new-line-silhouette {
    border: 1px solid black;
    padding: var(--wysiwyg-padding, $common-spacing);
    border-radius: var(--wysiwyg-border-radius, $common-border-radius);
  }
}
